@{
    ViewData["Title"] = "Index";
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Shop list</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Shop" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-patch-plus"></i> &nbsp; Add New Shop data
            </a>
        </div>
    </div>
    <br />
    <table id="tblData" style="width:100%" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Phone Number</th>

                <th></th>
            </tr>
        </thead>
        
    </table>
</div>

@section Scripts{
    <script src="~/js/shop.js"></script>
    <script src="~/js/scripts.js"></script>
}