@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/scripts.js"></script>
    }