@model BeatBox.Models.ViewModels.ProductVM

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Product.Id" hidden />
    <input asp-for="Product.ImageUrl" hidden />

    <div class="row">
        <div class="col-10">


            <div class="border p-3 mt-4 row">
                <div class="col-12 pb-2">
                    <h2>@(Model.Product.Id != 0 ? "Update" : "Add") Album</h2>
                    <hr />
                </div>
                @*<div asp-validation-summary="All"></div>*@

                <div class="mb-3">
                    <label asp-for="Product.Title"></label>
                    <input asp-for="Product.Title" class="form-control" />
                    <span asp-validation-for="Product.Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.Description"></label>
                    <textarea asp-for="Product.Description" class="form-control" rows="2"></textarea>
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Product.ISRC"></label>
                    <input asp-for="Product.ISRC" class="form-control" />
                    <span asp-validation-for="Product.ISRC" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Product.Artist"></label>
                    <input asp-for="Product.Artist" class="form-control" />
                    <span asp-validation-for="Product.Artist" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Product.ListPrice"></label>
                    <input asp-for="Product.ListPrice" class="form-control" />
                    <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Product.Price"></label>
                    <input asp-for="Product.Price" class="form-control" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Product.Price50"></label>
                    <input asp-for="Product.Price50" class="form-control" />
                    <span asp-validation-for="Product.Price50" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Product.Price100"></label>
                    <input asp-for="Product.Price100" class="form-control" />
                    <span asp-validation-for="Product.Price100" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Product.ImageUrl"></label>
                    <input type="file" name="file" class="form-control" id="uploadBox" />
                    @*<span asp-validation-for="Product.ImageUrl" class="text-danger"></span>*@
                </div>

                <div class="mb-3 col-6">
                    <label asp-for="Product.CategoryId"></label>
                    <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                        <option selected disabled>-Select Category-</option>
                    </select>
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                </div>

                <div class="mb-3 col-6">
                    <label asp-for="Product.AlbumFormatId"></label>
                    <select asp-for="Product.AlbumFormatId" asp-items="@Model.AlbumFormatList" class="form-select">
                        <option selected disabled>-Select Format-</option>
                    </select>
                    <span asp-validation-for="Product.AlbumFormatId" class="text-danger"></span>
                </div>

                <div class="col-12">
                    @if (Model.Product.Id != 0)
                    {
                        <button type="submit" class="btn btn-dark bg-warning" style="width:150px">Update</button>
                    }
                    else
                    {
                        <button type="submit" onclick="return ValidateInput()" class="btn btn-dark bg-warning" style="width:150px">Add</button>
                    }
                    <a asp-controller="Product" asp-action="Index" class="btn btn-dark bg-danger" style="width:150px">
                        Go back
                    </a>
                </div>
            </div>

        </div>

        <div class="col-2 pt-4">

            <img src="@Model.Product.ImageUrl" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />

        </div>
    </div>


</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script>


        function ValidateInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please upload an Image..',
                });
                return false;
            }
            return true;
        }

    </script>

    <script src="~/js/scripts.js"></script>
}